/* :root{
    background-color: black;
} */

.pokemon-heading-wrapper{
    display: flex;
    justify-content: center;
}

#pokedex-heading{
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 40px;
    color: black;
}

#pokedex-heading:hover{
    color: burlywood;
}